.TodoTemplate {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 4px;
    overflow: hidden;

    .app-title {
        background: burlywood;
        height: 4rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content{
        background: white;
    }

    .TodoInsert {
        display: flex;
        background: antiquewhite;
        input {
            background: none;
            outline: none;
            border: none;
            padding: 0.5rem;
            font-size: 1.125rem;
            line-height: 1.5;
            flex:1;
        }
        button {
            background: darkorange;
            outline: none;
            border: none;
            cursor: pointer;
            display: flex;
            padding-left: 1rem;
            padding-right: 1rem;
            align-items: center;
            &:hover {
                background: orangered;
            }
        }
    }
}